body{
	background: url(./fundon.png) ;
	font: 16px Arial, helvetica, sans-serif;
	

}
#principal {
	
	width: 900px;
	color: black;
	margin: 0 auto;
}
#menu{
	background: white;
	padding: 18px;
}
#conteudo {
	background: #01ACFC center;
	padding: 10px;
}
#conteudo2 {
	background:#01ACFC ;
	padding: 10px;

}
#formulario{
	background: #00A0EC;
}
.italico{
	font-style: italic;
}
.centralizar{
	text-align: center;
	color: black;
	padding: 15px;
}
.tabela{
	font-size: 3em;
}
a {
	color: #0B0B61;
	text-decoration: none;
	font-weight: bold;
	padding: 5px;
}
h1{
	color: #FAFAFA;
	font-size: 3em;

}
h2{
	color: #FAFAFA;
}